phonenumbers==8.12.51
python-dateutil==2.8.1
requests==2.18.4
Turbo-Flask==0.6.0
click==8.0.1
Flask==2.0.1
gunicorn==20.0.4
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
Flask-WTF==0.15.1
email_validator==1.1.3
flask_behind_proxy==0.1.1
flask_sqlalchemy
pytest
pycodestyle
